@import './utils/style-rst.scss';
@import './utils/vars.scss';
@import './utils/mixins.scss';
@import './utils/visually-hidden.scss';
@import './utils/no-scroll.scss';

@import './components/body.scss';
@import './components/container.scss';

@import './layouts/header.scss';
@import './layouts/hero.scss';
@import './layouts/mobile-menu.scss';
@import './layouts/products.scss';
@import './layouts/about.scss';
@import './layouts/advantages.scss';
@import './layouts/reviews.scss';
@import './layouts/gallery.scss';
@import './layouts/contacts.scss';
@import './layouts/footer.scss';
