@mixin font($fs, $lh, $fw, $ls) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  letter-spacing: $ls;
}

@mixin mobile-s {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@keyframes move {
  0% {
    transform: translateY(100%) rotate(90deg);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pulsing {
  0% {
    transform: scale(0.9, 0.9) rotate(5deg);
  }
  25% {
    transform: scale(1, 1) rotate(10deg);
  }
  50% {
    transform: scale(1.1, 1.1) rotate(15deg);
  }
  75% {
    transform: scale(1, 1) rotate(10deg);
  }
  100% {
    transform: scale(0.9, 0.9) rotate(5deg);
  }
}
@keyframes lunge {
  0% {
    transform: scale(0.4) translateY(100%);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}
