$btn-bg-color-light: #ffffff;
$btn-bg-color-dark: #d41443;
$btn-accent-bg-color-light: #ecebeb;
$btn-accent-bg-color-dark: #c7133e;
$btn-text-color-light: #ffffff;
$btn-text-color-dark: #d41443;
$soc-bg-color: #fea5bb;
$soc-accent-bg-color: #d41443;
$text-color-light: #ffffff;
$text-color-medium: #907e82;
$text-color-dark: #000000;
$text-accent-color: #d41443;
$time-text-color: #ffa5ba;
$title-color: #d41443;
$sub-title-color: #ffa5ba;
$products-title-color: #ffffff;
$products-1st-bg-color: #ffb8ca;
$products-2nd-bg-color: #f0d1a5;
$products-3rd-bg-color: #c2e297;
$contacts-title-1st-bg-color: #f0d1a5;
$contacts-title-2nd-bg-color: #c2e297;
$contacts-title-3rd-bg-color: #f0d1a5;
$link-color: #907e82;
$hero-bg-color: #ffb8ca;
$hero-circle-bg-color: #ffa5ba;
$mobile-menu-bg-color: #e17992;

$footer-bg: #fff5f6;
$footer-circle-bg: #ffa5ba;
$footer-accent-color: #d41443;
$footer-icon-color: #fea5bb;
$footer-unicode-color: #907e82;
$footer-icon-light: #ffffff;

$customer-background-color: #fafafa;
$customer-accent-color: #e1e1e1;
$customer-markers-color: #d9d9d9;
$customer-icon-color: #d31342;
$customer-dots-color: #c7133e;

$title-font-family: 'Titan One', cursive;

// :root {
//   $btn-bg-color-light: #ffffff;
//   $btn-bg-color-dark: #d41443;
//   $btn-accent-bg-color-light: #ecebeb;
//   $btn-accent-bg-color-dark: #c7133e;
//   $btn-text-color-light: #ffffff;
//   $btn-text-color-dark: #d41443;
//   $soc-bg-color: #fea5bb;
//   $soc-accent-bg-color: #d41443;
//   $text-color-light: #ffffff;
//   $text-color-medium: #907e82;
//   $text-color-dark: #000000;
//   $text-accent-color: #d41443;
//   $time-text-color: #ffa5ba;
//   $title-color: #d41443;
//   $sub-title-color: #ffa5ba;
//   $products-title-color: #ffffff;
//   $products-1st-bg-color: #ffb8ca;
//   $products-2nd-bg-color: #f0d1a5;
//   $products-3rd-bg-color: #c2e297;
//   $contacts-title-1st-bg-color: #f0d1a5;
//   $contacts-title-2nd-bg-color: #c2e297;
//   $contacts-title-3rd-bg-color: #f0d1a5;
//   $link-color: #907e82;
//   $hero-bg-color: #ffb8ca;
//   $hero-circle-bg-color: #ffa5ba;
//   $mobile-menu-bg-color: #e17992;
//   $title-font-family: 'Titan One', cursive;
// }
