<section class="contacts-section" id="contacts">
   <div class="container">
     <h2 class="visually-hidden">Contacts</h2>
     <ul class="contacts list">
       <li class="contacts__list">
         <div class="contacts__list-city">
           <p class="contacts__cafe-style">cafe</p>
           <div class="contacts__border">
             <h3 class="contacts__city">Chicago</h3>
             <p class="contacts__text">
               Fusce ut velit laoreet, tempus arcu molestie vulputate
             </p>
           </div>
           <ul class="list contacts__border">
             <li class="contacts__iten">
               <p class="contacts__day">Monday - Friday</p>
               <p class="contacts__time">06:00 AM - 10:00 PM</p>
             </li>
             <li class="contacts__iten">
               <p class="contacts__day">Saturday - Sunday</p>
               <p class="contacts__time">08:00 AM - 16:00 PM</p>
             </li>
           </ul>
           <ul class="list contacts__link">
             <li>
               <a href="tel:+610383766284" class="contacts__call"
                 >+61(0) 383 766 284</a
               >
             </li>
             <li>
               <a href="mailto:noreply@envato.com" class="contacts__call"
                 >noreply@envato.com</a
               >
             </li>
           </ul>
         </div>
       </li>
       <li class="contacts__list">
         <div class="contacts__list-city">
           <p class="contacts__foodtruck-style">food truck</p>
           <div class="contacts__border">
             <h3 class="contacts__city">Los Angeles</h3>
             <p class="contacts__text">
               Fusce ut velit laoreet, tempus arcu molestie vulputate
             </p>
           </div>
           <ul class="list contacts__border">
             <li class="contacts__iten">
               <p class="contacts__day">Monday - Friday</p>
               <p class="contacts__time">06:00 AM - 10:00 PM</p>
             </li>
             <li class="contacts__iten">
               <p class="contacts__day">Saturday - Sunday</p>
               <p class="contacts__time">08:00 AM - 16:00 PM</p>
             </li>
           </ul>
           <ul class="list contacts__link">
             <li>
               <a href="tel:+610383766284" class="contacts__call"
                 >+61(0) 383 766 284</a
               >
             </li>
             <li>
               <a href="mailto:noreply@envato.com" class="contacts__call"
                 >noreply@envato.com</a
               >
             </li>
           </ul>
         </div>
       </li>
       <li class="contacts__list">
         <div class="contacts__list-city">
           <p class="contacts__cafe-style">cafe</p>
           <div class="contacts__border">
             <h3 class="contacts__city">New York</h3>
             <p class="contacts__text">
               Fusce ut velit laoreet, tempus arcu molestie vulputate
             </p>
           </div>
           <ul class="list contacts__border">
             <li class="contacts__iten">
               <p class="contacts__day">Monday - Friday</p>
               <p class="contacts__time">06:00 AM - 10:00 PM</p>
             </li>
             <li class="contacts__iten">
               <p class="contacts__day">Saturday - Sunday</p>
               <p class="contacts__time">08:00 AM - 16:00 PM</p>
             </li>
           </ul>
           <ul class="list contacts__link">
             <li>
               <a href="tel:+610383766284" class="contacts__call"
                 >+61(0) 383 766 284</a
               >
             </li>
             <li>
               <a href="mailto:noreply@envato.com" class="contacts__call"
                 >noreply@envato.com</a
               >
             </li>
           </ul>
         </div>
       </li>
     </ul>
     <div class="contacts__button">
       <ul class="contacts__button-list list">
         <li>
           <button type="submit" class="contacts__button-loc">
             Our Locations
             <svg class="contacts__button-icon" width="8" height="12">
               <use href="./images/icons.svg#arrow-r-2"></use>
             </svg>
           </button>
         </li>
         <li>
           <button
             type="submit"
             class="contacts__button-franch"
             data-franchise-modal-open
           >
             Franchise
             <svg class="contacts__button-icon-fr" width="8" height="12">
               <use href="./images/icons.svg#arrow-r-3"></use>
             </svg>
           </button>
         </li>
       </ul>
     </div>
   </div>
 </section>
 