<footer class="footer">
  <div class="container">
    <div class="footer__position">
      <p class="footer__title">
        homemade ice cream made
        <span class="footer__title--color">with passion</span>
      </p>

      <div class="footer__contact">
        <ul class="social-list">
          <li class="social-list__item">
            <a
              href="https://github.com/"
              target="_blank"
              rel="noreferrer noopener"
              class="social-link"
            >
              <svg class="social-link__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-git"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href="https://web.telegram.org"
              target="_blank"
              rel="noreferrer noopener"
              class="social-link"
            >
              <svg class="social-link__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noreferrer noopener"
              class="social-link"
            >
              <svg class="social-link__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <div class="footer__contact-tel">
          <p class="footer__tel footer__tel--text">Feel free to contact</p>
          <a href="tel:+61(0)383766284" class="footer__tel">
            +61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>

    <div class="footer__element">
      <p class="footer__text">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
