<section class="gallery">
    <div class="container">
        <ul class="gallery-list list">
            <li class="gallery-item box1">
                <img class="gallery-img" src='./images/gallery/gallery-img-1-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box2">
                <img class="gallery-img" src='./images/gallery/gallery-img-2-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box3">
                <img class="gallery-img" src='./images/gallery/gallery-img-3-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box4">
                <img class="gallery-img" src='./images/gallery/gallery-img-4-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box5">
                <img class="gallery-img" src='./images/gallery/gallery-img-5-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box6">
                <img class="gallery-img" src='./images/gallery/gallery-img-6-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box7">
                <img class="gallery-img" src='./images/gallery/gallery-img-7-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box8">
                <img class="gallery-img" src='./images/gallery/gallery-img-8-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box9">
                <img class="gallery-img" src='./images/gallery/gallery-img-9-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box10">
                <img class="gallery-img" src='./images/gallery/gallery-img-10-1280-1x.jpeg' alt="">
            </li>
        </ul>
    </div>
</section>