<section class="gallery">
    <!-- <div class="container">
        <ul class="gallery-list list">
            <li class="gallery-item box1">
                <img class="gallery-img" src='./images/gallery/gallery-img-1-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box2">
                <img class="gallery-img" src='./images/gallery/gallery-img-2-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box3">
                <img class="gallery-img" src='./images/gallery/gallery-img-3-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box4">
                <img class="gallery-img" src='./images/gallery/gallery-img-4-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box5">
                <img class="gallery-img" src='./images/gallery/gallery-img-5-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box6">
                <img class="gallery-img" src='./images/gallery/gallery-img-6-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box7">
                <img class="gallery-img" src='./images/gallery/gallery-img-7-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box8">
                <img class="gallery-img" src='./images/gallery/gallery-img-8-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box9">
                <img class="gallery-img" src='./images/gallery/gallery-img-9-1280-1x.jpeg' alt="">
            </li>
            <li class="gallery-item box10">
                <img class="gallery-img" src='./images/gallery/gallery-img-10-1280-1x.jpeg' alt="">
            </li>
        </ul>
    </div> -->

<div class="galery">
    <div class="galery__grids">
        <div class="galery__grid galery__grid-item-1">
            <img class="galery__grid-item " src="../images/gallery/1.jpg" alt="ice-cream">
        </div>
        <div class="galery__grid galery__grid-item-2">
            <img class="galery__grid-item " src="../images/gallery/2.jpg" alt="ice-cream">
        </div>
        <div class="galery__grid galery__grid-item-3">
            <img class="galery__grid-item " src="../images/gallery/3.jpg" alt="ice-cream">
        </div>
        <div class="galery__grid  galery__grid-item-4">
            <img class="galery__grid-item" src="../images/gallery/4.jpg alt="ice-cream">
        </div>
        <div class="galery__grid galery__grid-item-5">
            <img class="galery__grid-item " src="../images/gallery/5.jpg" alt="ice-cream">
        </div>
        <div class="galery__grid galery__grid-item-6">
            <img class="galery__grid-item " src="../images/gallery/6.jpg" alt="ice-cream">
        </div>
        <div class="galery__grid galery__grid-item-7">
            <img class="galery__grid-item " src="../images/gallery/7.jpg" alt="ice-cream">
        </div>
        <div class="galery__grid  galery__grid-item-8">
            <img class="galery__grid-item" src="../images/gallery/8.jpg" alt="ice-cream">
        </div>
        <div class="galery__grid galery__grid-item-9">
            <img class="galery__grid-item " src="../images/gallery/9.jpg" alt="ice-cream">
        </div>
        <div class="galery__grid galery__grid-item-10 ">
            <img class="galery__grid-item " src="../images/gallery/10.jpg" alt="ice-cream">
        </div>


    </div>

</div>

</section>
