<section class="gallery">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="galery__grids">

        <div class="galery__grid galery__grid1">

            <picture>
                <source srcset="./images/gallery/grin320-1x.jpeg 1x, ./images/gallery/grin320-2x.jpeg  2x"
                    media="(max-width:767px)">
                <source srcset="./images/gallery/grin768-1x.jpeg 1x, ./images/gallery/grin768-2x.jpeg 2x"
                    media="(max-width:1279px)">
                <source srcset="./images/gallery/grin1280-1x.jpeg 1x, ./images/gallery/grin1280-2x.jpeg 2x"
                    media="(min-width:1280px)">
                <img class="galery__img " src="./images/gallery/grin320-1x.jpeg" alt="ice-cream">
            </picture>

        </div>
        <div class="galery__grid galery__grid2">
            <picture>
                <source srcset="./images/gallery/pink320-1x.jpeg 1x, ./images/gallery/pink320-2x.jpeg  2x"
                    media="(max-width:767px)">
                <source srcset="./images/gallery/pink768-1x.jpeg 1x, ./images/gallery/pink768-2x.jpeg  2x"
                    media="(max-width:1279px)">
                <source srcset="./images/gallery/pink1280-1x.jpeg 1x, ./images/gallery/pink1280-2x.jpeg  2x"
                    media="(min-width:1280px)">
                <img class="galery__img " src="./images/gallery/pink320-1x.jpeg" alt="ice-cream">
            </picture>>
        </div>
        <div class="galery__grid galery__grid3">
            <picture>
                <source
                    srcset="./images/gallery/pink-and-red320-1x.jpeg 1x, ./images/gallery/pink-and-red320-2x.jpeg  2x"
                    media="(max-width:767px)">
                <source
                    srcset="./images/gallery/pink-and-red768-1x.jpeg 1x, ./images/gallery/pink-and-red768-2x.jpeg  2x"
                    media="(max-width:1279px)">
                <source
                    srcset="./images/gallery/pink-and-red1280-1x.jpeg 1x,./images/gallery/pink-and-red1280-2x.jpeg  2x"
                    media="(min-width:1280px)">

                <img class="galery__img " src="./images/gallery/pink-and-red320-1x.jpeg" alt="ice-cream">
            </picture>

        </div>
        <div class="galery__grid  galery__grid4">
            <picture>
                <source srcset="./images/gallery/ice-cream320-1x.jpeg 1x, ./images/gallery/ice-cream320-2x.jpeg  2x"
                    media="(max-width:767px)">
                <source srcset="./images/gallery/ice-cream768-1x.jpeg 1x, ./images/gallery/ice-cream768-2x.jpeg  2x"
                    media="(max-width:1279px)">
                <source srcset="./images/gallery/ice-cream1280-1x.jpeg 1x, ./images/gallery/ice-cream1280-2x.jpeg  2x"
                    media="(min-width:1280px)">

                <img class="galery__img " src="./images/gallery/ice-cream320-1x.jpeg" alt="ice-cream">
            </picture>
        </div>
        <div class="galery__grid galery__grid5">
            <picture>
                <source srcset="./images/gallery/girl320-1x.jpeg 1x, ./images/gallery/girl320-2x.jpeg  2x"
                    media="(max-width:767px)">
                <source srcset="./images/gallery/girl768-1x.jpeg 1x, ./images/gallery/girl768-2x.jpeg  2x"
                    media="(max-width:1279px)">
                <source srcset="./images/gallery/girl1280-1x.jpeg 1x, ./images/gallery/girl1280-2x.jpeg  2x"
                    media="(min-width:1280px)">
                <img class="galery__img " src="./images/gallery/girl320-1x.jpeg" alt="ice-cream">
            </picture>>
        </div>
        <div class="galery__grid galery__grid6">
            <picture>
                <source srcset="./images/gallery/red-ice320-1x.jpeg 1x, ./images/gallery/red-ice320-2x.jpeg  2x"
                    media="(max-width:767px)">
                <source srcset="./images/gallery/red-ice768-1x.jpeg 1x, ./images/gallery/red-ice768-2x.jpeg  2x"
                    media="(max-width:1279px)">
                <source srcset="./images/gallery/red-ice1280-1x.jpeg 1x, ./images/gallery/red-ice1200-2x.jpeg  2x"
                    media="(min-width:1280px)">
                <img class="galery__img " src="./images/gallery/red-ice320-1x.jpeg" alt="ice-cream">
            </picture>>
        </div>
        <div class="galery__grid galery__grid7">
            <picture>
                <source srcset="./images/gallery/fruit320-1x.jpeg 1x, ./images/gallery/fruit320-2x.jpeg  2x"
                    media="(max-width:767px)">
                <source srcset="./images/gallery/fruit768-1x.jpeg 1x, ./images/gallery/fruit768-2x.jpeg  2x"
                    media="(max-width:1279px)">
                <source srcset="./images/gallery/fruit1280-1x.jpeg 1x, ./images/gallery/fruit1280-2x.jpeg  2x"
                    media="(min-width:1280px)">
                <img class="galery__img " src="./images/gallery/fruit320-1x.jpeg" alt="ice-cream">
            </picture>>
        </div>
        <div class="galery__grid  galery__grid8">
            <picture>
                <source srcset="./images/gallery/dog320-1x.jpeg 1x, ./images/gallery/dog320-2x.jpeg  2x"
                    media="(max-width:767px)">
                <source srcset="./images/gallery/dog768-1x.jpeg 1x, ./images/gallery/dog768-2x.jpeg  2x"
                    media="(max-width:1279px)">
                <source srcset="./images/gallery/dog1280-1x.jpeg 1x, ./images/gallery/dog1280-2x.jpeg  2x"
                    media="(min-width:1280px)">
                <img class="galery__img" src="./images/gallery/dog320-1x.jpeg" alt="ice-cream">
            </picture>>
        </div>
        <div class="galery__grid galery__grid9">
            <picture>
                <source srcset="./images/gallery/sheyk320-1x.jpeg 1x, ./images/gallery/sheyk320-2x.jpeg  2x"
                    media="(max-width:767px)">
                <source srcset="./images/gallery/sheyk768-1x.jpeg 1x, ./images/gallery/sheyk768-2x.jpeg  2x"
                    media="(max-width:1279px)">
                <source srcset="./images/gallery/sheyk1280-1x.jpeg 1x, ./images/gallery/sheyk1280-2x.jpeg  2x"
                    media="(min-width:1280px)">
                <img class="galery__img" src="./images/gallery/sheyk320-1x.jpeg" alt="ice-cream">
            </picture>>
        </div>
        <div class="galery__grid galery__grid10">
            <picture>
                <source srcset="./images/gallery/cake320-1x.jpeg 1x, ./images/gallery/cake320-2x.jpeg  2x"
                    media="(max-width:767px)">
                <source srcset="./images/gallery/cake768-1x.jpeg 1x, ./images/gallery/cake768-2x.jpeg  2x"
                    media="(max-width:1279px)">
                <source srcset="./images/gallery/cake1280-1x.jpeg 1x, ./images/gallery/cake1280-2x.jpeg  2x"
                    media="(min-width:1280px)">
                <img class="galery__img " src="./images/gallery/cake320-1x.jpeg" alt="ice-cream">
            </picture>>
        </div>
    </div>
</section>