<header class="header">
    <div class="container header__container">
    <!-- logo -->
    <a href="#" class="link logo">
        <img src="./images/favicon.svg" alt="logo" class="logo__icon">
        <p class="logo__title">icecream</p>
    </a>
    <button type="button" class="menu-open-btn" data-menu-button>
        <svg class="menu_icon" width="19" height="13" aria-label="Переключатель мобильного меню">
            <use href="./images/icons.svg#icon-Burger"></use>
        </svg>
    </button>
    <nav class="nav">
    <ul class="nav-list list">
        <li class="nav-list__item">
          <a class="nav-list__link nav-list__link--current link" href="#home">Home</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#about">About us</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#about">How it’s made?</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#products">Our products</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#contacts">Contact</a>
        </li>
      </ul>
      </nav>
    <!-- <div class="mob-menu-top"> -->
        <button type="button" class="button-header" data-buy-modal-open>Buy now
            <svg class="chevron-right-icon" width="20" height="20">
                <use href="./images/icons.svg#chevron-right"></use>
            </svg>
        </button>
    <!-- </div> -->
    </div>
</header>
