<header class="container header">
    <!-- logo -->
    <a href="#" class="link logo">
        <img src="./images/favicon.svg" alt="logo" class="logo__icon">
        <p class="logo__title">icecream</p>
    </a>
    <button type="button" class="menu-open-btn">
        <svg class="menu_icon" width="19" height="13">
            <use href="./images/icons.svg#icon-Burger"></use>
        </svg>
    </button>
    <div class="mob-menu-top">
        <button type="button" class="buy-btn" data-buy-modal-open>Buy now
            <svg class="chevron-right-icon" width="20" height="20">
                <use href="./images/icons.svg#chevron-right"></use>
            </svg>
        </button>
    </div>
</header>