<section class="hero">
  <div class="container hero__container">
    <div class="hero__circle"></div>
    <div class="products-box">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title--red"> passion</span>
      </h1>
      <ul class="hero__list list">
        <li class="hero__item">
          <a href="#products" class="hero__btn hero__btn--red link">Products</a>
        </li>
        <li class="hero__item">
          <a href="#about " class="hero__btn hero__btn--white link"
            >How it's made?</a
          >
        </li>
      </ul>
      <div class="hero__article">
        <p class="hero__article-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#ddd " class="hero__article-link link">
          <svg class="hero__read-more">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="hero__points">
      <ul class="hero__points-list list">
        <li class="hero__points-item">
          <span class="hero__points-item--over">16</span>
          <span class="hero__points-item--sub">cafes</span>
        </li>
        <li class="hero__points-item">
          <span class="hero__points-item--over">23</span>
          <span class="hero__points-item--sub">food trucks</span>
        </li>
      </ul>
    </div>

    <div class="hero__icecream">
      <picture>
        <source
          srcset="
            ./images/hero/hero-icecream-1280-1x.png 1x,
            ./images/hero/hero-icecream-1280-2x.png 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./images/hero/hero-icecream-768-1x.png 1x,
            ./images/hero/hero-icecream-768-2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/hero/hero-icecream-320-1x.png 1x,
            ./images/hero/hero-icecream-320-2x.png 2x
          "
          media="(min-width: 320px)"
        />

        <img src="./images/hero/hero-icecream-320-1x.png" alt="ice-cream" />
      </picture>
    </div>

    <div class="hero__milk">
      <picture>
        <source
          srcset="
            ./images/hero/milk-1280-1x.png 1x,
            ./images/hero/milk-1280-2x.png 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./images/hero/milk-768-1x.png 1x,
            ./images/hero/milk-768-2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <img src="./images/hero/milk-768-1x.png" alt="pitcher with milk" />
      </picture>
    </div>

    <div class="hero__girl">
      <picture>
        <source
          srcset="
            ./images/hero/girl-1200-1x.png 1x,
            ./images/hero/girl-1200-2x.png 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./images/hero/girl-768-1x.png 1x,
            ./images/hero/girl-768-2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <img
          class="girl-l"
          src="./images/hero/girl-768-1x.png"
          alt="girl with ice-cream"
        />
      </picture>
    </div>
  </div>
</section>
