<section class="section products__section" id="products">
  <div class="container products__container">
    <p class="product__paragraph" lang="en">100% natural</p>
    <h2 class="product__title" lang="en">products</h2>
    <ul class="products-list">
      <li class="products-list__item">
        <h3 class="products-list__title" lang="en">ice cream</h3>
        <p class="products-list__text" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-list__btn products-btn" type="button">
          <svg class="products-btn__icon" width="22" height="14">
            <use href="/src/images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title" lang="en">ice coffee</h3>
        <p class="products-list__text" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-list__btn products-btn" type="button">
          <svg class="products-btn__icon" width="22" height="14">
            <use href="/src/images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title" lang="en">milkshakes</h3>
        <p class="products-list__text" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-list__btn products-btn" type="button">
          <svg class="products-btn__icon" width="22" height="14">
            <use href="/src/images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
