.hero {
  width: 100%;
  background-color: $hero-bg-color;
  overflow: hidden;

  &__container {
    position: relative;
    min-height: 502px;
    justify-content: space-between;
    padding-top: 194px;
    display: flex;

    @include tablet {
      min-height: 416px;
      padding-top: 92px;
    }

    @include desktop {
      min-height: 664px;
      padding-top: 147px;
    }
  }

  &__title {
    z-index: 1;
    max-width: 218px;
    margin-bottom: 20px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-color-light;

    @include tablet {
      max-width: 162px;
      font-size: 22px;
      line-height: 1.14;
      padding-top: 10px;
    }

    @include desktop {
      max-width: 277px;
      font-size: 38px;
      line-height: 1.16;
      margin-bottom: 24px;
    }

    &--red {
      font-size: 48px;
      line-height: 0.95;
      color: $title-color;

      @include tablet {
        font-size: 34px;
        line-height: 0.92;
      }

      @include desktop {
        font-size: 58px;
        line-height: 0.9;
      }
    }
  }

  &__list {
    z-index: 1;
    display: flex;
  }

  &__item + .hero__item {
    margin-left: 8px;

    @include desktop {
      margin-left: 12px;
    }
  }

  &__btn {
    width: 100%;
    height: 24px;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    padding: 9px 14px;
    font-size: 8px;
    line-height: 1.25;
    display: flex;

    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
      height: 40px;
      font-size: 14px;
      line-height: 1.29;
      padding: 11px 23px;
    }

    &--red {
      color: $btn-text-color-light;
      background-color: $btn-bg-color-dark;

      &:hover,
      &:focus {
        background-color: $btn-accent-bg-color-dark;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
          0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      }
    }
    &--white {
      color: $btn-text-color-dark;
      background-color: $btn-bg-color-light;

      &:hover,
      &:focus {
        background-color: $btn-accent-bg-color-light;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
          0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__article {
    z-index: 1;
    justify-content: end;
    margin-top: 61px;
    margin-left: auto;
    color: $text-color-light;

    @media screen and (max-width: 767px) {
      display: none;
    }

    @include desktop {
      margin-top: 108px;
    }
  }

  &__article-title {
    font-size: 8px;
    line-height: 1.5;
    max-width: 114px;

    @include desktop {
      font-size: 14px;
      line-height: 1.43;
      max-width: 200px;
    }
  }

  &__article-link {
    width: 18px;
    height: 18px;
    background-color: $btn-bg-color-light;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    display: flex;
    fill: $btn-bg-color-dark;

    transition-property: background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $btn-accent-bg-color-light;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    @include desktop {
      width: 26px;
      height: 26px;
      margin-top: 20px;
    }
  }

  &__read-more {
    width: 10px;
    height: 8px;

    @include desktop {
      width: 14px;
      height: 12px;
    }
  }

  &__circle {
    position: absolute;
    top: 83px;
    right: -62px;

    width: 346px;
    height: 344px;
    background-color: $hero-circle-bg-color;
    border-radius: 50%;

    animation: animationHero 1s cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
      width: 335px;
      height: 333px;
      top: 43px;
      right: 185px;
    }

    @include desktop {
      width: 534px;
      height: 534px;
      top: 54px;
      right: 229px;
    }
  }

  &__icecream {
    position: absolute;
    right: 32px;
    top: 92px;
    width: 171px;
    height: 410px;
    animation: animationHero 1s cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
      top: 80px;
      right: 303px;
      width: 143px;
      height: 336px;
    }

    @include desktop {
      width: 236px;
      height: 557px;
      top: 108px;
      right: 408px;
    }
  }

  &__milk {
    animation: animationHero 1s cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
      display: none;
    }

    @include tablet {
      position: absolute;
      top: 246px;
      width: 152px;
      height: 154px;
    }

    @include desktop {
      width: 213px;
      height: 216px;
      top: 388px;
    }
  }

  &__girl {
    animation: animationHero 1s cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
      display: none;
    }

    @include tablet {
      z-index: 4;
      position: absolute;
      top: 265px;
      right: 32px;
      width: 190px;
      height: 150px;
    }

    @include desktop {
      width: 304px;
      height: 241px;
      top: 424px;
      right: 16px;
    }
  }
}

.products-box {
  flex-direction: column;
  display: inline-flex;
  width: 260px;

  animation: bounce-in-top 1.1s 0.5s both;

  @include desktop {
    width: 415px;
  }
}

.hero__points {
  display: flex;
  padding-top: 5px;
  padding-right: 9px;

  animation: bounce-in-top 1.1s 0.5s both;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @include desktop {
    padding-right: 16px;
  }
}

.hero__points-item {
  font-family: $title-font-family;
  letter-spacing: 0.04em;
  color: $text-accent-color;

  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: -3px;
    left: 46px;
    border-radius: 50%;
    background-color: #fff;

    @include desktop {
      width: 30px;
      height: 30px;
      left: 80px;
    }
  }

  @include tablet {
    font-size: 28px;
    line-height: 1.14;
    &:first-child {
      padding-bottom: 13px;
    }
  }
  @include desktop {
    font-size: 46px;
    line-height: 1.16;
    &:first-child {
      padding-bottom: 15px;
    }
  }
  &--sub {
    @include tablet {
      display: flex;
      justify-content: end;

      font-family: 'DM Sans', sans-serif;
      font-size: 8px;
      line-height: 1.2;

      color: $text-color-light;
      @include desktop {
        font-size: 14px;
        line-height: 1.3;
      }
    }
  }
  &--over {
    position: relative;
    display: flex;
    justify-content: end;
  }
}

@keyframes animationHero {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
